<header>
  <h1>{{ title }}</h1>

  <nav>
    <ul>
      <li><a routerLinkActive="active" [routerLink]="['/home']">Accueil</a></li>
      <li><a href="">Meilleurs ventes</a></li>
      <li><a href="">Electronics</a></li>
      <li><a href="">Jewelery</a></li>
      <li><a href="">Men's clothing</a></li>
      <li><a routerLinkActive="active" [routerLink]="['/products']">Tous les produits</a></li>
    </ul>
  </nav>

  <div>
    <a href=""><img src="../../../assets/perm_identity.png" alt=""></a>
    <a href=""><img src="../../../assets/outline_shopping_cart.png" alt=""></a>
  </div>
</header>
