<section>

  <div *ngIf="product; else productNotFound">
    <h1>{{ product.title }}</h1>

    <article>

      <div class="picture">
        <img src="{{ product.image }}" alt="{{ product.title }}">
      </div>

      <div class="infos">
        <p class="price-rate">
          <span class="price">{{ product.price }}€</span>
          <p-rating [ngModel]=product.rating.rate [stars]="5" [readonly]="true" [cancel]="false"></p-rating>
        </p>
        <p class="description">{{ product.description }}</p>
      </div>

    </article>
  </div>

  <ng-template #productNotFound>
    <p-message severity="warn" text="Pas de produit trouvé."></p-message>
  </ng-template>

  <button class="btn btn-outline-dark" [routerLink]="['/products']">Retour</button>

</section>
