section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1480px;
  padding: 10px;
  width: 100%;
  background-color: #F5F4DD;
}

h1 {
  margin: 20px auto 20px;
  font-size: 1.8em;
}

article {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 10px;
  width: 90%;
  max-width: 1200px;
}

.picture {
  padding: 0 10px;
  width: 48%;
}

img {
  width: 100%;
  border-radius: 20px;
}

.infos {
  padding: 10px;
  width: 48%;
}

.price-rate {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price {
  font-size: larger;
  font-weight: bold;
  letter-spacing: 1px;
}

.description {
  text-align: justify;
  letter-spacing: 1px;
}

button {
  margin: 20px auto 30px;
}
